# Supabase設定
# https://supabase.com でプロジェクトを作成し、以下の値を設定してください

SUPABASE_URL = "https://oswizeuayrqcosshxgwu.supabase.co"
SUPABASE_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9zd2l6ZXVheXJxY29zc2h4Z3d1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI1OTgyMTksImV4cCI6MjA4ODE3NDIxOX0.7rKDHZTt4nFDSqbPwGBzGFiq7kydvRr-Yn2TY8HZ9dk"


